img {
     border-radius: 20%;
    }
    body{
      ≈
    }

    h1{text-align:center;}
    h2{
        text-align: center;
        border-style: inset;
    }
    h3{font-size: xx-large;
    background-color: green;}
    p{ font-size: x-large;
    background-color: green;}
    h4{background-color:green;
        font-size:x-large}
    h5 {background-color:green;
    font-size: larger;}
ul{font-size: x-large;}
h6{text-align: center;}
    body {
        background-image: url('https://i.pinimg.com/564x/d9/d4/34/d9d4348e03322c5f53c16956dffd393d.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: 40em;
